﻿@page
@model EVT.TaskMamager.MVC.Areas.Identity.Pages.ConfirmEmailModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ConfirmEmail";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
    <h2> Ваша учётная запись успешно активирована!</h2>
    <a asp-controller="Home" asp-action="Index">На главную</a>
</div>