﻿@page
@model EVT.TaskMamager.MVC.Areas.Identity.Pages.LoginModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container" id="login">
    <div class="row tm-register-row tm-mb-35">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-l">
            <form method="post" asp-page-handler="Login" class="tm-bg-black p-5 h-100">
                <div class="input-field">
                    <input placeholder="login@server.com" asp-for=Email>
                </div>
                <div class="input-field mb-5">
                    <input placeholder="Password" asp-for=Password type="password">
                </div>
                <label class="container">
                    <input asp-for="RememberMe" class="filled-in">
                    <span class="checkmark">Запомнить меня</span>
                </label>
                <div class="tm-flex-lr">
                    <a href="#" class="white-text">Забыли пароль?</a>
                    <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Login</button>
                </div>
            </form>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-r">

            <header class="font-weight-light tm-bg-black p-5 h-100">
                <h3 class="mt-0 text-white font-weight-light">Вход строго по логину и паролю!</h3>
                <h6 class="mt-3">@Model.Message</h6>
                <div class="tm-flex-lr mt-5 pt-4">
                    <a  class="white-text">Ещё нет аккаунта?</a>
                    <a asp-page="/Register" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Зарегистрироваться</a>
                </div>
            </header>

        </div>
    </div>
</div>