﻿@page
@model EVT.TaskMamager.MVC.Areas.Identity.Pages.LogoutModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Logout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container" id="logout">
    <div class="row justify-content-end tm-register-row tm-mb-35">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-l">
            <form method="post" class="tm-bg-black p-5 h-100">
                <header class="font-weight-light tm-bg-black p-5 h-100">
                    <h3 class="mt-0 text-white font-weight-light">Уверены, что хотите выйти?</h3>
                    <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Да</button>
                </header>
            </form>
            <p class="mb-0">@Model.Message</p>
        </div>
    </div>
</div>