﻿@page
@model EVT.TaskMamager.MVC.Areas.Identity.Pages.RegisterModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Register";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container tm-container-max-800" id="register">
    <h1> Регистрация нового пользователя </h1>
    <form method="post" asp-antiforgery="true">
        <div class="tm-bg-black tm-form-block">
            <div class="row mb-4">
                <div class="col-xl-6">
                    @* <div class="validation" asp-validation-summary="All"></div>*@
                    <div class="input-field">
                        <input asp-for="UserName" placeholder="Название аккаунта">
                        <span asp-validation-for="UserName"></span>
                    </div>
                    <div class="input-field">
                        <input asp-for="FullName" placeholder="Фамилия Имя Отчество">
                        <span asp-validation-for="FullName"></span>
                    </div>
                    <div class="input-field">
                        <input asp-for="Email" placeholder="email@server.com">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="input-field mb-5">
                        <input asp-for="Password" type="password" placeholder="Придумайте пароль">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="input-field mb-5">
                        <input asp-for="ConfirmationPassword" type="password" placeholder="Введите пароль ещё раз">
                        <span asp-validation-for="ConfirmationPassword"></span>
                    </div>
                </div>


            </div>
            <div class="row">
                @*
                    <div class="col-xl-12">
                    <textarea class="p-3" cols="30" rows="2" placeholder="Additional Information...(optional)"></textarea>
                    </div>
                *@
            </div>
            <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Зарегистрироваться</button>
        </div>
    </form>
</div>

