﻿@page
@model EVT.TaskMamager.MVC.Areas.ModelEntities.NewTaskModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "NewTask";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container tm-container-max-800" id="newtask">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="row">
        <h3> Новая задача для: </h3>

    </div>

    <form method="post" asp-antiforgery="true">
        <div class="tm-bg-black tm-form-block">
            <div class="row mb-4">
                <div class="col-xl-6">
                    <div class="input-field m-4">
                        @{
                            if (Model.HandlerUserName == null)
                            {
                                <select asp-items="@Model.HandlersList">
                                </select>
                            }
                            else
                            {
                                <input asp-for="HandlerUserName" placeholder="@Model.HandlerUserName">
                                <label asp-for="HandlerUserName">Ответственный</label>
                            }
                        }
                    </div>
                    <div class="input-field">
                        <input asp-for="TaskTitle" placeholder="Наименование">
                        <span asp-validation-for="TaskTitle"></span>
                    </div>
                    <div class="input-field">
                        <textarea class="p-3" asp-for="Description" cols="30" rows="3" placeholder="Дополнительное описание..."></textarea>
                    </div>

                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control">
                        <div class="input-group-addon" >
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>


                </div>


            </div>
            <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Создать</button>
        </div>
    </form>
</div>
