﻿@page
@model EVT.TaskMamager.MVC.Areas.ModelEntities.Pages.TaskListModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>TaskList</h1>


<table class="table table-hover">
    <thead class="thead-default">
        <tr>
            <th class="text-center py-1">Дата создания</th>
            <th>Название</th>
            <th>Описание</th>
            <th class="text-center py-1">Статус</th>
            <th class="text-center py-1">Автор</th>
            <th class="text-center py-1">Ответственный</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tasks)
        {
            <tr>
                <td class="text-center py-1">@item.CreationDate</td>
                <td>
                    <a class="btn btn-outline-primary btn-xs" asp-page="/TaskEdit" asp-route-id="@item.Id">@item.Title</a>
                </td>

                <td>@item.Description</td>
                <td class="text-center py-1">@item.Status</td>
                <td class="text-center py-1">
                    <a asp-page="/UserProfile">@item.Submitter</a>
                </td>
                <td class="text-center py-1">
                <a asp-page="/UserProfile">@item.Handler</a>
                </td>
            </tr>
        }
    </tbody>
</table>

