﻿@page
@model EVT.TaskMamager.MVC.Areas.ModelEntities.Pages.TaskEditModel
@{
}
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "TaskEdit";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="container tm-container-max-800" id="taskedit">
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast" id="toastNotice" style="position: absolute; top: 0; right: 0;" data-delay="2000">
            <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong class="mr-auto">@Model.Message</strong>
                <small>11 mins ago</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    @*<div class="validation" asp-validation-summary="All"></div> *@
    <form method="post" asp-antiforgery="true">
        <div class="tm-bg-black tm-form-block">
            <div class="row mb-4">
                <div class="col-xl-6">
                    <div class="input-field">
                        <label asp-for="CurrentTask.Title" class="col-form-label"></label>
                        <input asp-for="CurrentTask.Title" value=@Model.CurrentTask.Title>
                        <span asp-validation-for="CurrentTask.Title"></span>
                    </div>

                    <div class="input-field">
                        <label asp-for="CurrentTask.Description" class="col-form-label"></label>
                        <input asp-for="CurrentTask.Description" value=@Model.CurrentTask.Description>
                        <span asp-validation-for="CurrentTask.Description"></span>
                    </div>

                    <div class="input-field">
                        <label asp-for="CurrentTask.SubmitterViewName" class="col-form-label"></label>
                        <input asp-for="CurrentTask.SubmitterViewName" value=@Model.CurrentTask.SubmitterViewName readonly>
                    </div>

                    <div class="input-field">
                        <label asp-for="CurrentTask.HandlerViewName" class="col-form-label"></label>
                        <select asp-for="CurrentTask.HandlerViewName" asp-items="Model.UserList" value="@Model.CurrentTask.HandlerViewName">                    
                           @* <option selected="selected" value="@Model.HandlerUserName">@Model.HandlerUserFullName</option>*@
                        </select>
                    </div>

                    <div class="input-field">
                        <label asp-for="CurrentTask.CreationDate" class="col-form-label"></label>
                        <input asp-for="CurrentTask.CreationDate" value=@Model.CurrentTask.CreationDate readonly>
                    </div>

                    <div class="input-field">
                        <label asp-for="CurrentTask.UpdateDate" class="col-form-label"></label>
                        <input asp-for="CurrentTask.UpdateDate" value=@Model.CurrentTask.UpdateDate readonly>
                    </div>

                    <div class="input-field">
                        <label asp-for="CurrentTask.DeadlineDate" class="col-form-label"></label>
                        <input asp-for="CurrentTask.DeadlineDate" value=@Model.CurrentTask.DeadlineDate>
                        <span asp-validation-for="CurrentTask.DeadlineDate"></span>
                    </div>

                    <div class="input-field">
                        <label asp-for="CurrentTask.CloseDate" class="col-form-label"></label>
                        <input asp-for="CurrentTask.CloseDate" value=@Model.CurrentTask.CloseDate readonly>
                    </div>

                </div>



            </div>
            <button id="saveChangesBtn" type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0" asp-route-id="@Model.CurrentTask.Id">Сохранить изменения</button>
        </div>
    </form>
</div>

