﻿@page "{name}"
@model EVT.TaskMamager.MVC.Areas.ModelEntities.Pages.UserProfileModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ЮзверьProfile";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="tm-container" id="userprofile">

    <div class="row">
        <div class="col-4">
            <h3>@Model.CurrentUser.UserName</h3>
            <form method="get" class="tm-form-white tm-font-big">
                <div class="tm-bg-white tm-form-pad-same-small">
                    @*
                        <div class="row">
                        <label for="name" class="black-text mb-4 big">Full Name</label>
                        <input asp-for="CurrentUser.FullName" readonly value="@Model.CurrentUser.FullName">
                        </div>
                    *@
                    <div class="input-group mb-3">
                        <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">ФИО пользователя</label>
                        <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">@Model.CurrentUser.FullName</label>
                    </div>
                    <div class="input-group mb-3">
                        <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Email</label>
                        <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">@Model.CurrentUser.Email</label>
                    </div>
                    <div class="input-group mb-3">
                        <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Дата регистрации</label>
                        <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">@Model.CurrentUser.RegistrationDate</label>
                    </div>
                    <div class="input-group mb-3">
                        <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Роль</label>
                        <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">@Model.Roles</label>   
                    </div>
                </div>
                <div class="text-center mt-5">
                    <a  class="waves-effect btn-large btn-large-white" asp-page="/UserProfileEdit" asp-route-name="@Model.CurrentUser.UserName">Редактировать</a>

                </div>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" class="tm-form-white tm-font-big">
                <div class="row">
                    <h3>Текущие задачи</h3>
                    <a class="btn btn-flat" asp-page="/NewTask" asp-route-name="@Model.CurrentUser.UserName">Создать</a>
                </div>
                <input type="hidden" asp-for="CurrentUser.Id" />
                <table class="table table-hover">
                    <thead class="thead-default">
                        <tr>
                            <th class="text-center py-1">Дата создания</th>
                            <th>Название</th>
                            <th>Описание</th>
                            <th class="text-center py-1">Статус</th>
                            <th class="text-center py-1">Автор</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tasks)
                        {
                            <tr>
                                <td class="text-center py-1">@item.CreationDate</td>
                                <td>
                                    <a class="btn btn-outline-primary btn-xs" asp-page="/TaskEdit" asp-route-id="@item.Id">@item.Title</a>
                                </td>

                                <td>@item.Description</td>
                                <td class="text-center py-1">@item.Status</td>
                                <td class="text-center py-1">
                                    <a>@item.Submitter</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>




            </form>
        </div>
    </div>
</div>
