﻿@page 
@model EVT.TaskMamager.MVC.Areas.ModelEntities.Pages.UserProfileEditModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "UserProfileEdit";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
    body {
        background-image: url(../img/input-bg-06.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }
</style>



<div class="container tm-container-max-800">

    <h1> @Model.PageHeader  </h1>
    @*
        <form >
        <div class="row text-center">
        <h2></h2>
        <input asp-for="Notify" class="for-check-input" />
        <label asp-for="Notify" class="form-check-label">
        Отправлять на емайл изменения профиля
        </label> <br />
        <button type="submit" class="btn btn-primary">
        Update
        </button>
        @if (!string.IsNullOrWhiteSpace(Model.Message))
        {
        <div class="alert alert-cuccess">
        <p class="p-3 mt-2">@Model.Message</p>
        </div>
        }
        </div>
        </form>
        <hr />
        <div asp-validation-summary="All" class="text-danger text-center"></div>

    *@
    @*

    <form method="post">
        <input type="hidden" asp-for="CurrentUser.Id" />
        <div class="tm-bg-black tm-form-block">
            <div class="row mb-4">
                <div class="col-xl-6">
                    @*
                        <div class="row mb-3">
                        <label class="col-sm-2 col-form-label col-form-label-sm">Логин</label>
                        <div class="col-sm-4">
                        <label asp-for="CurrentUser.Login" class="form-label">Имя аккаунта</label>
                        <input type="text" class="form-control form-control-sm" id="txtLogin" value=@Model.CurrentUser.Login>

                        </div>
                        </div>
                    *@
                    @*
                    <div class="input-field">
                        <input asp-for="CurrentUser.AccountName" placeholder="@Model.CurrentUser.AccountName">
                    </div>
                    <div class="input-field">
                        <input asp-for="CurrentUser.FullName" placeholder="@Model.CurrentUser.FullName">
                    </div>
                    <div class="input-field">
                        <input asp-for="CurrentUser.Email" placeholder="@Model.CurrentUser.Email">
                    </div>
                    @*
                    <div class="input-field mb-5">
                        <input asp-for="CurrentUser.Password" type="password" placeholder="Password">
                    </div>

                    *@

                    @*
                    <div class="input-field">
                        <select asp-items="Model.UserRoleList">
                        </select>

                    </div>

                </div>


            </div>
            <div class="row">
                @*
                    <div class="col-xl-12">
                    <textarea class="p-3" cols="30" rows="2" placeholder="Additional Information...(optional)"></textarea>
                    </div>
                *@
                @*
            </div>
            <button type="submit" class="btn btn-primary">
                Сохранить изменения
            </button>
        </div>
    </form>
  *@
</div>

