﻿@page
@model EVT.TaskMamager.MVC.Areas.ModelEntities.Pages.UserListModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "UserList";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>UserList</h1>
<h3>@Model.VisualItems.Count()</h3>
@* @{
    <div class="row">
    @foreach (var item in Model.Users)
    {
    <div class="col-12 col-sm-6 col-lg-4">
    <div class="card-dec">
    <div class="card m-3">
    <div class="card-header text-center">
    <h3>@item.FullName</h3>
    </div>
    <div class="text-center">
    <h3>@item.Login</h3>
    </div>
    <div class="card-footer text-center">
    <a href="#" class="btn btn-success m-1">View</a>
    </div>
    </div>
    </div>
    </div>
    }
    </div>
    } *@


    <div class="row">
        <form method="post" asp-page-handler="DeactivateUsers">
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th> </th>
                        <th> </th>
                        <th class="text-center py-1">Дата регистарации</th>
                        <th class="text-center py-1">Логин</th>
                        <th class="text-center py-1">Полное имя</th>
                        <th class="text-center py-1">Email</th>
                        <th class="text-center py-1">Роль</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.VisualItems.Count(); i++)
                    {
                        var item = Model.VisualItems[i];
                        if (!item.User.IsActive) continue;
                        <tr>
                            <td>
                                <label class="container">
                                    <input asp-for="VisualItems[i].ID"  type="hidden">
                                </label>
                            </td>
                            <td>
                                <label class="container">
                                    <input asp-for="VisualItems[i].IsSelected" class="filled-in">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td class="text-center py-1">@item.User.RegistrationDate</td>
                            <td class="text-center py-1">
                                <a class="btn btn-outline-primary btn-xs" asp-page="/UserProfile" asp-route-name="@item.User.UserName">@item.User.UserName</a>
                            </td>
                            <td class="text-center py-1">@item.User.FullName</td>
                            <td class="text-center py-1">@item.User.Email</td>
                            <td class="text-center py-1"></td> @* @item.User.UserRole *@
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-left mt-4">
                <button type="submit" class="waves-effect btn-large btn-large-white px-4 tm-border-radius-0">Удалить</button>
            </div>
        </form>
    </div>



