﻿@using Microsoft.AspNetCore.Identity
@using EVT.TaskManager.Entities
@inject SignInManager<UserBase> SignInManager
@inject UserManager<UserBase> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="ModelEntities" asp-page="/UserProfile" asp-route-name="@User.Identity?.Name">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline">
                <button type="submit" asp-area="Identity" asp-page="/Logout" class="waves-effect btn-large">Logout</button>  @* asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" *@
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="ModelEntities" asp-page="/UserList">UserList</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="ModelEntities" asp-page="/TaskList">TaskList</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Login">Login</a>
        </li>
    }

</ul>
