﻿@page
@model EVT.TaskMamager.MVC.Areas.Messages.Pages.NotFound_404Modell
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "NotFound";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <div class="col text-center">
        <div img="" alt="Error 404: Page Not Found" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Запрашиваемая страница не существует или была удалена!</h2>
        <a asp-area="Identity" asp-page="/_ViewStart">Чтобы перейти на главную, нажмите сюда</a>
        </div>
    </div>
</div>